.ufo1{
    background: transparent url(../Images/omitrix.webp) no-repeat center center;
    background-size: 50px;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: -2;
    animation: title 10s infinite;
    box-shadow: -33px 0px 159px red;
    border-radius: 45%;
   
}
.ufo2{
    background: transparent url(../Images/ufo2.png) no-repeat center center;
    background-size: 50px;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: -2;
    animation: title 11s infinite;
}
@keyframes title {

    0%{
        left: 50%;
        top: 10%;
    }
    20%{
        background-size: 40px;
        transform: rotate(1000deg);
        left: 30%;
        top:40%;
    }
    50%{
        background-size: 70px;
        transform: rotate(50deg);
        transform: skewY(10deg);
        left: 6%;
        top: 20%;
    }
    75%{
        background-size: 20px;
        transform: rotate(300deg);
        left: 70%;
        top: 40%;
    }
    100%{ 
        left: 50%;
        top: 10%;
    }

}